# venv
venv/

# Debug files 
.vscode/

# Data 
data/raw/
data/processed/

# Local checkpoints 
src/checkpoints/

# logs 
src/logs/

# Other or Older data Preprocess
src/data/older/

# BashFiles
bashfiles/old/

# Byte-compiled / optimized / DLL files
*__pycache__/*
*.py[cod]
*$py.class