# venv
venv/
testenv/

# Debug files 
.vscode/

# Raw Data 
src/data/raw/ml-25m/

# Local checkpoints 
src/checkpoints/

# Notebooks
# src/notebooks

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class