# venv
venv/

# Debug files 
.vscode/

# Raw Data 
src/data/raw/ml-25m/
src/data/raw/YELP/
src/data/raw/CARS/

# Local checkpoints 
src/checkpoints/

# BashFiles
bashfiles/old/

# Byte-compiled / optimized / DLL files
*__pycache__/*
*.py[cod]
*.pyc
*$py.class